{{>navbar }}
<section class="products-main-container">
    <div class="products-container">
        {{#each products}}
            {{> productsinfo }}
        {{/each}}
    </div>
        {{!-- <h1 id="main-title">Ofertas exclusivas!</h1> --}}
</section>
