{{>navbar }}
<section class="products-main-container">
        <h1 id="main-title">Ofertas exclusivas!</h1>
    <div class="products-container">
        {{#each products}}
            {{> products }}
        {{/each}}
    </div>
</section>
