{{>navbar }}
<div class="main-container">
    <h1 class="offer-title">Ofertas exclusivas!</h1>
    <div class="products-container">
        {{#each products}}
            {{> productsinfo }}
        {{/each}}
    </div>

    <section>
        <div id="container">
        </div>
    </section>
</div>

