@use '../variables.scss';

#nav-container {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 60px;
    outline: 2px solid variables.$primary-color;
    position: sticky;
    top: 0;
    background: variables.$secondary-color;

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;

        li {
            list-style: none;
            margin-right: 37px;
            font-size: 1.1rem;
            position: relative;
            
            a {
                text-decoration: none;
                color: variables.$primary-color;
                
                &::after {
                    content: ' ';
                    position: absolute;
                    width: 0%;
                    height: 2px;
                    background-color: variables.$primary-color;
                    bottom: 0;
                    left: 0;
                    transition: 0.3s;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}

