@use '../variables.scss';

@import './addons.scss';

.products-main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #fff;

    #main-title {
        text-align: center;
        margin-top: 30px;
        font-size: 3rem;
    }

    .products-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-top: 65px;
        flex-direction: row;
        
        .products-control {
            outline: 2px solid #965DE9;
            padding: 30px;
            width: 350px;
            height: 550px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 8px; 
            box-shadow: inset 0px -40px 80px #965DE9, #965DE9 0px 2px 1px, #965DE9 0px 4px 2px, #955de960 0px 8px 4px, #8e2fb022 0px 16px 8px;
            transition: 0.3s ease;

            &:hover {
                background-color: #955de92f;
            }
            
            #img1 {
                margin-top: 20px;
                width: 250px;
            }

            #img2 {
                margin-top: 20px;
                width: 250px;
            }

            #img3 {
                margin-top: 40px;
                width: 250px;
            }

            
            .brand {
                margin-top: 10px;
            }
            
            .price {
                font-size: 2.5rem;
                margin-top: 20px;
            }
            
            .link-button {
                margin-top: 20px;
            }
        }
    }
}


