@media (max-width:1400px) {
    .products-container {
        flex-direction: column !important; 
    }
}

//navbar

@media (max-width: 1000px) {
    #nav-container {
        justify-content: center;
        position: static;
        
        ul {
            gap: 40px;

            li {
                margin: 0 !important;
            }
        }
    }
}

//home

@media (min-width: 300px) and (max-width: 480px) {
    .products-container {
        margin-top: 40px;

        .products-control {
            max-width: 280px !important;
            max-height: 580px !important;
        }
    }

    .offer-title {
        font-size: 2rem;
        margin-top: 30px;
    }
}



