@media (max-width:1400px) {
    .products-container {
        flex-direction: column !important; 

        
        .products-control {
            margin-bottom: 60px;
        }
    }
}

@media (max-width: 1000px) {
    #nav-container {
        justify-content: center;
        position: static;
        
        ul {
            gap: 40px;

            li {
                margin: 0 !important;
            }
        }
    }

    .products-container {
        max-height: 400px !important;
    }
}

@media (min-width: 300px) and (max-width: 480px) {
    #main-title {
        font-size: 1.5rem !important;
    }

    .products-control {
        max-width: 280px !important;
        max-height: 580px !important;
    }
}

